.page-header
  - if can? :manage, :all
    .pull-right.switcher
      .quick-jump
        ' Quick Jump:
        .inline-block = select_tag("department_block_department_chooser", options_from_collection_for_select(Department.order("name"), "id", "name", @department.id), class: "span3")
  h1 Department: #{@department.name}

.col-sm-4
  .progress
    .progress-bar class=(get_department_usage_class(@department.estimate_hours_total, @department.budgeted_hours)) style="width: #{get_department_usage(@department.estimate_hours_total, @department.budgeted_hours)}%;"
  h4 Budgeted Hours Progress
  p
    strong Estimated Hours:
    =@department.estimate_hours_total.to_i
  p
    strong Budgeted Hours:
    =@department.budgeted_hours.to_i
.col-sm-4
  .progress
    .progress-bar class=(get_department_usage_class(@department.scheduled_count, @department.total_slots)) style="width: #{get_department_usage(@department.scheduled_count, @department.total_slots)}%;"
  h4 Block Scheduling Progress
  p
    strong Scheduled Slots:
    =@department.scheduled_count
  p
    strong Total Slots:
    =@department.total_slots
.col-sm-4
  .progress
    .progress-bar
  h4 Volunteer Hours Progress
  p
    strong Hours:
    = @volunteer_hours[@department.id].to_i

.separate-block

.col-sm-12
  ul.nav.nav-tabs
    - @days.each_with_index do |day, index|
      li class=(index == 0 ? "active" : "")
        = link_to "##{day.safe_short_date}", data: { toggle: 'tab' } do
          = day.day_name
          = day.short_date

  .tab-content
    - @days.each_with_index do |day, index|
      div id="#{day.safe_short_date}" class=(index == 0 ? "active tab-pane" : "tab-pane")

coffee:

  window.initDepartmentsShowPage = ->
    firstHash = undefined
    reloadSchedule = undefined
    reloadSchedule = (dateid) ->
      $.ajax "" + window.location.pathname + "/schedule/2014/" + dateid.slice(0, 2) + "/" + dateid.slice(2),
        type: "GET"
        dataType: "html"
        error: (jqXHR, textStatus, errorThrown) ->
          $("div[id=" + dateid + "]").text "Error: " + textStatus

        success: (data, textStatus, jqXHR) ->
          $("div[id=" + dateid + "]").html data
          $("table[id=blocks" + dateid + "]").dataTable
            iDisplayLength: 100
            aLengthMenu: [
              [
                100
                200
                -1
              ]
              [
                100
                200
                "All"
              ]
            ]
            oTableTools:
              "aButtons": [ "copy", "csv", "xls" ]
              "sSwfPath": "/datatables/copy_csv_xls_pdf.swf"

          $(".timepicker").timepicker()

          $(".create_department_block").on "click", ->
            $el = undefined
            modal = undefined
            modal = $(this).attr("href")
            $el = $(modal + " #department_block_name")
            setTimeout (->
              $el.focus()
            ), 300


    $("#department_block_department_chooser").change ->
      newVal = undefined
      newVal = $(this).val()
      window.location = "/dashboard/departments/" + newVal

    firstHash = $("li.active a").attr("href")
    $(firstHash + " #day_hash:hidden").val firstHash.replace("#", "")
    $("a[href=\"" + window.location.hash + "\"]").click()  if window.location.hash
    $(".nav.nav-tabs a").click ->
      hash = undefined
      window.location.hash = $(this).attr("href")
      reloadSchedule window.location.hash.replace("#", "")
      hash = $(this).attr("href")
      $(hash + " #day_hash:hidden").val hash.replace("#", "")

    reloadSchedule $("li.active a").attr("href").replace("#", "")

  $ ->
    window.initDepartmentsShowPage()
    return
