.row-fluid.sortable
  .box.span12
    .box-header{"data-original-title" => ""}
      %h2
        %i.halflings-icon.edit
        = succeed "Choose" do
          %span.break
        your hours of availability
    .box-content
      %form.form-horizontal
        %fieldset
          #main_calendar_phone
          .clearfix
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Save changes
            %button.btn{:type => "reset"} Cancel