%li.span4
  .thumbnail
    .caption
      %h4 Check-In Volunteer
      / .well.pendingVol
      /   %table.table
      /     %thead
      /       %tr
      /         %th Name
      /         %th Scheduled
      /         %th Check In?
      /     - cache do 
      /       %tbody
      /         - @scheduled[0..4].each do |user_schedule|
      /           %tr
      /             %td= user_schedule.user.full_name
      /             %td= in_twelve_hour_time(user_schedule.department_block.start_time)
      /             %td
      /               =form_for [:dashboard, CheckIn.new], html: {:"data-type" => "json"} do |f|
      /                 = f.hidden_field :user_schedule_id, value: user_schedule.id
      /                 = f.hidden_field :user_id, value: user_schedule.user.id
      /                 = f.hidden_field :status, value: "1"
      /                 = button_tag type: "submit", class: 'btn btn-success pull-right' do 
      /                   %i.icon-check.icon-white
      %p
        = link_to "Show All Scheduled Volunteers", dashboard_check_ins_scheduled_path(), class: "btn btn-block btn-primary"