%li.span4
	.thumbnail
		.caption
			%h4 View Your Time Availability
			%p View and edit your volunteer time availability. We'll let you know when you have been scheduled to help out.
			%br 
			%br
			%p= link_to("View Availability", "/dashboard/user_availabilities", :class => "btn btn-block btn-primary")