// Select the elements for re-use
$modal = $('.user-select-modal');
$body = $modal.find('.modal-body');

// Remove any past alerts and put a new alert in
$body.find('.alert').remove();

<%- if not @accounts_exist %>
    $body.append('<div class="alert alert-warning"><p>Please select at least one subaccount.</p></div>');
<% end %>

<%- if @master_exists %>
    $body.append('<div class="alert alert-success"><p>Changes saved! You may now close this window.</p></div>');
<% else %>
    $body.append('<div class="alert alert-warning"><p>Changes could not be saved! Select another user.</p></div>');
<% end %>
