// Place all the styles related to the UserAvailabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time-availability-wrapper .tab-content{
	padding-bottom:115px;
}