.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Assignment Details
      %br

    %table.table.table-bordered.table-striped
      %tr
        %th Full Name
        %th Department Block
        %th Start Time
        %th End Time
        %th Actions

      - @check_ins.each do |check_in|
        %tr
          %td=check_in.user_schedule.user.full_name
          %td=link_to "#{check_in.user_schedule.department_block.name}", [:dashboard,check_in.user_schedule.department_block]
          %td
            =in_twelve_hour_time(check_in.user_schedule.department_block.start_time)
          %td
            =in_twelve_hour_time(check_in.user_schedule.department_block.end_time)
          %td
            =form_for [:dashboard, check_in], html: {:"data-type" => "json"} do |f|
              = f.hidden_field :id, value: check_in.id
              = f.hidden_field :status, value: "2"
              = button_tag type: "submit", class: 'btn btn-success' do 
                %i.icon-ok-sign.icon-white
                Check Out       
