.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Assignment Details
      %br

    %table.table.table-bordered.table-striped#active-check-ins-table
      %thead
        %tr
          %th Full Name
          %th Department Block
          %th Start Time
          %th End Time
          %th Actions
      %tbody
        = render "active_items", results: @results 
    %div.pagination-wrapper
      %div#pagination
        = paginate @results, remote: true
      %div#pagination-info
        = page_entries_info @results

      
