.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Assignment Details
      %br
    .dataTables_length
      %label
        Show
        %select{:size => "1", :id => "per_page"}
          %option{:selected => "selected", :value => "10"} 10
          %option{:value => "25"} 25
          %option{:value => "50"} 50
          %option{:value => "100"} 100
        entries
    .dataTables_filter
      %label
        Search:
        %input{:type => "text", id: 'search'}

    %table.table.table-bordered.table-striped#inactive-check-ins-table
      %thead
        %tr
          %th.sortable.sorting#name Name
          %th Email
          %th.sortable.sorting#department Department
          %th Department Block
          %th.sortable.sorting#check_in Check In Time
          %th.sortable.sorting#check_out Check Out Time
          %th.sortable.sorting#charity Charity
          %th Actions
      %tbody
        = render "inactive_items", results: @results

    %div.pagination-wrapper
      %div#pagination
        = paginate @results, remote: true
      %div#pagination-info
        = page_entries_info @results