.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Assignment Details
      %br

    %table.table.table-bordered.table-striped#scheduled-check-ins-table
      %thead
        %tr
          %th Date
          %th Start Time
          %th Name
          %th Department Block
          %th Department
          %th Actions
      %tbody
        = render "scheduled_items", scheduled: @results
    %div.pagination-wrapper
      %div#pagination
        = paginate @results, remote: true
      %div#pagination-info
        = page_entries_info @results