.row-fluid
	.box.span9
		.box-header
			%h2
				%i.halflings-icon.edit
				Edit Department

		= render 'form'

.row-fluid
	.box.span9
		.box-header
			%h2
				%i.halflings-icon.edit
				Department Manager

		= render 'department_manager_form'



= link_to 'Show', admin_department_path(@department)
\|
= link_to 'Back', admin_departments_path
