// Select the elements for re-use
$modal = $('.edit-modal');
$body = $modal.find('.modal-body');

// Remove any past alerts and put a new alert in
$body.find('.alert').remove();
$body.append('<div class="alert alert-success"><p>Changes saved! You may now close this window.</p></div>');

window.adminDepartmentTable.fnDraw();