.row
  .span9
    .alert-container
    - flash.each do |type, message|
      %div{:class => flash_class(type) }
        %button{ :class => 'close', :data_dismiss => 'alert' }
          x
        = message
.row
  .span3
    %h2 Users List

  .span3.offset3
    %br
    = link_to(new_admin_user_path) do
      %button.btn.btn-primary{:type=>"button", :class =>"right-floated-btn"} 
        New User


.row
  %br
  .span12
    %table.table.table-bordered.table-striped#users_list_table{:data=>{'source' =>url_for(:controller=>'admin',:action=>'list')}}
      %thead
        %tr
          %th Full Name
          %th Email
          %th T Shirt Size
          %th Role
          %th Charity
          %th
          %th
      %tbody




