.page-header
  %h1 Admin Panel

%ul#section-tab-navigation.nav.nav-tabs
  %li.active
    %a{:href => "#users", "data-loaded" => 1} Users
  %li
    %a{:href => "#departments", "data-loaded" => 0, "data-url" => '/admin/department_tab' } Departments
  %li 
    %a{:href => "#charities", "data-loaded" => 0, "data-url" => '/admin/charity_tab' } Charities 
  %li 
    %a{:href => "#events", "data-loaded" => 0, "data-url" => '/admin/event_tab' } Events 
  %li 
    %a{:href => "#organisations", "data-loaded" => 0, "data-url" => '/admin/organisation_tab' } Organisations 

  #section-tabs
    .clearfix
    #users.section-tab
      = render :partial => "admin/users"
    #departments.section-tab{:style=>"display:none;"}
    #charities.section-tab{:style=>"display:none;"}
    #events.section-tab{:style=>"display:none;"}
    #organisations.section-tab{:style=>"display:none;"}