.page-header
  %h1 Admin Panel

%ul#section-tab-navigation.nav.nav-tabs
  %li.active
    %a{:href => "#users", "data-loaded" => 1} Users
  %li
    %a{:href => "#departments", "data-loaded" => 0, "data-url" => '/admin/department_tab' } Departments
  %li 
    %a{:href => "#charities", "data-loaded" => 0, "data-url" => '/admin/charity_tab' } Charities 

  #section-tabs
    #users.section-tab
      .clearfix
      = render :partial => "admin/users"

    #departments.section-tab{:style=>"display:none;"}
      .clearfix

    #charities.section-tab{:style=>"display:none;"}
      .clearfix