.page-header
  h1 Subaccounts List

.row
  .col-sm-12.subaccounts-import-form
    = link_to 'New Subaccount', new_user_subaccount_path(current_user), class: 'btn btn-primary', remote: true
    = link_to 'Import Subaccounts', "#import-modal", class: 'btn btn-primary', "data-toggle" => "modal"

table.table.table-bordered.table-striped#subaccounts_list_table data-source=(user_subaccounts_url(current_user, format: :json))
  thead
    tr
      th Username
      th Name
      th User Charity
      th
      th
      th
  tbody
= render "subaccounts/import_subaccount_modal"
= render "shared/modal"

coffee:
  $ ->
    unless $.fn.dataTable.isDataTable('#subaccounts_list_table')
      $('#subaccounts_list_table').dataTable
        processing: true
        serverSide: true
        ajax: $('#subaccounts_list_table').data('source')
        lengthMenu: [[10, 25, 50, 99999], [10, 25, 50, "All"]]
        dom: '<\'clear\'><\'row\'<\'col-sm-5\'l><\'col-sm-7\'fT>>' + '<\'row\'<\'col-sm-12\'tr>>' + '<\'row\'<\'col-sm-5\'i><\'col-sm-7\'p>>'
        columnDefs: [
          targets: [ -1, -2 , -3]
          sortable: false
        ]
        pagingType: 'full_numbers'
        tableTools:
          sRowSelect: 'os'
          sSwfPath: "//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf"
          aButtons: [
            {
              sExtends:     'collection'
              sButtonText:  'Save clipboard to / CSV / PDF'
              aButtons:     [ 
                { sExtends: 'copy', mColumns: 'sortable' }
                { sExtends: 'csv', mColumns: 'sortable', sFileName: "subaccounts-#{window.currentDate()}.csv" }
                { sExtends: 'xls', mColumns: 'sortable', sFileName: "subaccounts-#{window.currentDate()}.csv" }
                { sExtends: 'pdf', mColumns: 'sortable', sFileName: "subaccounts-#{window.currentDate()}.pdf" }
              ]
            }
            {
              sExtends:     'print'
            }
          ]
