.row
  .span12
    %br
    %h3 
      Choose your hours of availability ( Step
      %span.current-day 1
      out of 
      %span.total-days= Day.all.length
      )
    %br
    
.row.time-availability-wrapper
  .pagination.span6
    %ul
      %li.disabled
        %a{:href=>"#", :class => "prev-day"}
          Prev
      %li.active
        %a 
      %li
        %a{:href=>"#", :class => "next-day"}
          Next

  .span3
    %button.btn.btn-primary.available-all-day
      %i.icon-ok-sign.icon-white
      I'm Available All Day

  .span3
    %button.btn.btn-danger.not-available-all-day
      %i.icon-remove-sign.icon-white
      I'm Not Available This Day

.row
  .span4
    %h3 Morning
    %table.time-availability.morning.table.table-bordered
      %tbody
        - t = Time.new(@first_day.year,@first_day.month,@first_day.mday, 0, 0, 0)

        - 48.times do |i|
          %tr
            %th.span1
              = t.strftime("%I:%M%P")
            %td.span1{data: {time: t.strftime("%H:%M %p")}}
              Click to Schedule
          - t = t + (60 * 15)
      
  .span4.offset2
    %h3 Afternoon
    %table.time-availability.afternoon.table.table-bordered
      %tbody
        - 48.times do |i|
          %tr
            %th.span1
              = t.strftime("%I:%M%P")
            %td.span1{data: {time: t.strftime("%H:%M %p")}}
              Click to Schedule
          - t = t + (60 * 15)

#confirmNextDay.modal.hide.fade
  .modal-header
    %button.close{:type=>"button", :data =>{ :dismiss =>"modal"}}
      ×
    %h3.text-error
      Warning
  .modal-body
    %p 
      We could really use your help! Are you sure you're not available at all on 
      %span
      ?
  .modal-footer
    %button.btn.btn-danger{:data => {:dismiss=>"modal"}} Yes, I'm sure
    %button.btn.btn-success{:data => {:dismiss=>"modal"}} No, I'd like to volunteer on this day