.row
  .span6.help-event-setup
    %br
    %h3 Would you like to help out with set up?
    %p Event setup runs from July 21st to July 25th
    %br
    %p
      %button.btn.btn-success.yes{type:"button"} Yes
      %button.btn.btn-danger.no{type:"button"} No

.row
  .span6.help-event-tear-down
    %br
    %h3 Would you like to help out with tear down?
    %p Event tear down runs from July 29th to August 1st
    %br
    %p
      %button.btn.btn-success.yes{type:"button"} Yes
      %button.btn.btn-danger.no{type:"button"} No

.row.time-availability-wrapper
  .span6
    %br
    %h3 Add your time availability
    %br

  #accordion.accordion.span12
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#setup"}
          Event Setup
      #setup.accordion-body.collapse
        .accordion-inner
          .pagination
            %h4 Choose a day
            %ul
              %li.disabled
                %a{:href=>"#", :class => "prev-day"}
                  «
              / %ul.nav.nav-tabs.span12
              %li 
                %a{:href=>"#"} 07/21
              %li 
                %a{:href=>"#"} 07/22
              %li 
                %a{:href=>"#"} 07/23
              %li 
                %a{:href=>"#"} 07/24
              %li 
                %a{:href=>"#"} 07/25
              %li
                %a{:href=>"#", :class => "next-day"}
                  »
            %br
            %br

            .row
              .span3 
                %h4 Your availabilities for this day:
                %table.table
                  %thead
                    %tr
                      %th Start Time
                      %th End Time
                      %th
                  %tbody
                    %tr
                      %td 4AM
                      %td 6AM
                      %td
                        %button.btn.btn-mini.btn-danger{:type => "button"} Delete
                    %tr
                      %td 4PM
                      %td 7PM
                      %td
                        %button.btn.btn-mini.btn-danger{:type => "button"} Delete
                    %tr
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small" )
                          %span.add-on
                            %i.icon-time
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small")
                          %span.add-on
                            %i.icon-time

                      %td
                        %button.btn.btn.btn-success{:type => "button"} Add
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#festival"}
          Festival
      #festival.accordion-body.collapse
        .accordion-inner
          .pagination
            %h4 Choose a day
            %ul
              %li.disabled
                %a{:href=>"#", :class => "prev-day"}
                  «
              / %ul.nav.nav-tabs.span12
              - Day.all.each do |day,index|
                %li
                  %a{href:"##{day.safe_short_date}", data: {toggle:"tab"}}
                    =day.short_date
              %li
                %a{:href=>"#", :class => "next-day"}
                  »
            %br
            %br

            .row
              .span3 
                %h4 Your availabilities for this day:
                %table.table
                  %thead
                    %tr
                      %th Start Time
                      %th End Time
                      %th
                  %tbody
                    %tr
                      %td 4AM
                      %td 6AM
                      %td
                        %button.btn.btn-mini.btn-danger{:type => "button"} Delete
                    %tr
                      %td 4PM
                      %td 7PM
                      %td
                        %button.btn.btn-mini.btn-danger{:type => "button"} Delete
                    %tr
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small" )
                          %span.add-on
                            %i.icon-time
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small")
                          %span.add-on
                            %i.icon-time

                      %td
                        %button.btn.btn-success{:type => "button"} Add

    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#tear-down"}
          Event Tear Down
      #tear-down.accordion-body.collapse
        .accordion-inner
          .pagination
            %h4 Choose a day
            %ul
              %li.disabled
                %a{:href=>"#", :class => "prev-day"}
                  «
              / %ul.nav.nav-tabs.span12
              %li 
                %a{:href=>"#", :class => "prev-day"} 07/26
              %li 
                %a{:href=>"#", :class => "prev-day"} 07/27
              %li 
                %a{:href=>"#", :class => "prev-day"} 07/28
              %li
                %a{:href=>"#", :class => "next-day"}
                  »
            %br
            %br

            .row
              .span3 
                %h4 Your availabilities for this day:
                %table.table
                  %thead
                    %tr
                      %th Start Time
                      %th End Time
                      %th
                  %tbody
                    %tr
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small" )
                          %span.add-on
                            %i.icon-time
                      %td
                        .input-append.bootstrap-timepicker
                          =text_field_tag('Start Time', "00:00", class:"timepicker timepicker-first input-small")
                          %span.add-on
                            %i.icon-time

                      %td
                        %button.btn.btn-success{:type => "button"} Add

  

        
  /   %button.btn.btn-primary.available-all-day
  /     %i.icon-ok-sign.icon-white
  /     I'm Available All Day

  / .span3
  /   %button.btn.btn-danger.not-available-all-day
  /     %i.icon-remove-sign.icon-white
  /     I'm Not Available This Day

/ .row
/   .span4
/     %h3 Morning
/     %table.time-availability.morning.table.table-bordered
/       %tbody
/         - t = Time.new(@first_day.year,@first_day.month,@first_day.mday, 0, 0, 0)

/         - 48.times do |i|
/           %tr
/             %th.span1
/               = t.strftime("%I:%M%P")
/             %td.span1{data: {time: t.strftime("%H:%M %p")}}
/               Click to Schedule
/           - t = t + (60 * 15)
      
/   .span4.offset2
/     %h3 Afternoon
/     %table.time-availability.afternoon.table.table-bordered
/       %tbody
/         - 48.times do |i|
/           %tr
/             %th.span1
/               = t.strftime("%I:%M%P")
/             %td.span1{data: {time: t.strftime("%H:%M %p")}}
/               Not Available
/           - t = t + (60 * 15)

#confirmNextDay.modal.hide.fade
  .modal-header
    %button.close{:type=>"button", :data =>{ :dismiss =>"modal"}}
      ×
    %h3.text-error
      Warning
  .modal-body
    %p 
      We could really use your help! Are you sure you're not available at all on 
      %span
      ?
  .modal-footer
    %button.btn.btn-danger{:data => {:dismiss=>"modal"}} Yes, I'm sure
    %button.btn.btn-success{:data => {:dismiss=>"modal"}} No, I'd like to volunteer on this day