.row
  .span6
    %br
    %h3 Choose your hours of availability:
    %br
    
.row.time-availability-wrapper
  .span10
    .pagination.span5
      %ul
        %li.disabled
          %a{:href=>"#", :class => "prev-day"}
            Prev
        %li.active
          %a 
        %li
          %a{:href=>"#", :class => "next-day"}
            Next

    .span3.offset
      %button.btn.btn-primary.available-all-day
        %i.icon-ok-sign.icon-white
        I'm Available All Day

.row
  .span8
    %table#time-availability.table.table-bordered
      %tbody

#confirmNextDay.modal.hide.fade
  .modal-header
    %button.close{:type=>"button", :data =>{ :dismiss =>"modal"}}
      ×
    %h3.text-error
      Warning
  .modal-body
    %p You have not allocated any time slots for this day, are you sure you can't help out at all?
  .modal-footer
    %button.btn.btn-danger{:data => {:dismiss=>"modal"}} Close
    %button.btn.btn-success{:data => {:dismiss=>"modal"}} Reallocate Time