.row
  .span5
    = image_tag("ggf_logo.png")
  .span6.offset1
    %br
    %br
    %br

    %h2
      Welcome!
    %br

    %p 
      Thanks for volunteering for the Gilroy Garlic Festival!
      %br
      %br
      %strong In order to complete your registration, you must confirm your account. Please check your email as confirmation instructions will be emailed to you shortly.
      %br
      %br
      Once you are confirmed, you will be able to add your availability and choose a charity to volunteer for.
      %br
      %br
      If you do not receive a confirmation email within the next 5 minutes, please check your Spam/Junk folders. If you still do not get the email, then
      = link_to "send another confirmation e-mail", new_confirmation_path(:user)
