.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Charity List

    %table.table.table-bordered.table-striped
      %tr
        %th Name

      - @charities.each do |charity|
        %tr
          %td= link_to charity.name, charity