defaults: &defaults
  adapter: postgresql
  encoding: utf8
  database: volunteer_tracker_event_hub
  host: 127.0.0.1

development:
  <<: *defaults

staging:
  <<: *defaults
  database: volunteer_tracker_staging

production:
  <<: *defaults
  database: volunteer_tracker_production

test:
  <<: *defaults
  database: volunteer_tracker_test