.row
  .span5
    %h2 Organization List

  .span4.offset3
    %br
    = link_to(new_admin_organisation_path) do
      %button.btn.btn-primary{:type=>"button", :class=>"right-floated-btn"} 
        New Organization

.row
  .span12
    %br
    %table.table.table-bordered.table-striped
      %tr
        %th Name
        %th
        %th

      - @organisations.each do |organisation|
        %tr
          %td= link_to organisation.name, admin_organisation_path(organisation)
          %td= link_to 'Edit', edit_admin_organisation_path(organisation)
          %td= link_to('Delete', admin_organisation_path(organisation), :method=> :delete, data: { confirm: 'Are you sure?' })