h2
  .pull-right = link_to 'New Department', new_admin_department_path, class: 'btn btn-primary'
  ' Departments List
table.table.table-bordered.table-striped#departments_list_table data-source=(admin_departments_path(format: :json))
  thead
    tr
      th Name
      th Budgeted Hours (Allocated/Budgeted)
      th
        ' Block Scheduling Progress
        br
        ' (Scheduled Slots/Total Slots)
      th Volunteer Hours Progress
      th
      th
  tbody

coffee:
  $ ->
    unless $.fn.dataTable.isDataTable($('#departments_list_table'))
      $('#departments_list_table').dataTable
        processing: true
        serverSide: true
        ajax: $('#departments_list_table').data('source')
        lengthMenu: [[10, 25, 50, 99999], [10, 25, 50, "All"]]
        dom: '<\'clear\'><\'row\'<\'col-sm-5\'l><\'col-sm-7\'fT>>' + '<\'row\'<\'col-sm-12\'tr>>' + '<\'row\'<\'col-sm-5\'i><\'col-sm-7\'p>>'
        columnDefs: [
          targets: [ 1, 2, 3 ,4, 5 ]
          sortable: false
        ]
        pagingType: 'full_numbers'
        tableTools:
          sRowSelect: 'os'
          sSwfPath: "//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf"
          aButtons: [
            {
              sExtends:     'collection'
              sButtonText:  'Save to clipboard / CSV / PDF'
              aButtons:     [ 
                { sExtends: 'copy', mColumns: 'sortable' }
                { sExtends: 'csv', mColumns: 'sortable', sFileName: "departments-#{window.currentDate()}.csv" }
                { sExtends: 'xls', mColumns: 'sortable', sFileName: "departments-#{window.currentDate()}.csv" }
                { sExtends: 'pdf', mColumns: 'sortable', sFileName: "departments-#{window.currentDate()}.pdf" }
              ]
            }
            {
              sExtends:     'print'
            }
          ]
