h2
  .pull-right = link_to 'New User', new_admin_user_path, class: 'btn btn-primary'
  ' Users List
table.table.table-bordered.table-striped#users_list_table data-source=(admin_users_path(format: :json))
  thead
    tr
      th Full Name
      th Email
      th User Name
      th Last Login
      th Role
      th Charity
      th
      th
  tbody

coffee:
  $ ->
    unless $.fn.dataTable.isDataTable($('#users_list_table'))
      oTable = $('#users_list_table').dataTable
        processing: true
        serverSide: true
        ajax: $('#users_list_table').data('source')
        lengthMenu: [[10, 25, 50, 99999], [10, 25, 50, "All"]]
        dom: '<\'clear\'><\'row\'<\'col-sm-5\'l><\'col-sm-7\'fT>>' + '<\'row\'<\'col-sm-12\'tr>>' + '<\'row\'<\'col-sm-5\'i><\'col-sm-7\'p>>'
        columnDefs: [
          targets: [ -1, -2 ]
          sortable: false
        ]
        pagingType: 'full_numbers'
        tableTools:
          sRowSelect: 'os'
          sSwfPath: "//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf"
          aButtons: [
            {
              sExtends:     'collection'
              sButtonText:  'Save to clipboard / CSV / PDF'
              aButtons:     [ 
                { sExtends: 'copy', mColumns: 'sortable' }
                { sExtends: 'csv', mColumns: 'sortable', sFileName: "users-#{window.currentDate()}.csv" }
                { sExtends: 'xls', mColumns: 'sortable', sFileName: "users-#{window.currentDate()}.csv" }
                { sExtends: 'pdf', mColumns: 'sortable', sFileName: "users-#{window.currentDate()}.pdf" }
              ]
            }
            {
              sExtends:     'print'
            }
          ]

      window.adminUserTable = oTable
