.dataTables_filter {
	display: inline;
  float: right;
}
table.dataTable tr.DTTT_selected.odd td {
  background-color: #9FAFD1;
}
div.DTTT_container {
	display: inline;
	a {
		margin-right: 5px;
	}
}
