.left-floated-check-box{
	float:left;
}
.left-floated-label{
	float:left;
	margin-left:10px;
}
.import-subaccounts{
  margin: 0;
  width: 100px;
}
ul.days-list{
  li{
    list-style: none;
    line-height: 1.5em;
    float: left;
    display: inline;
    width: 50%;
  }
}
.subaccount-error-list{
  background-color: #F2DE68;
}