.row
  .span12
    %h2
      %i.halflings-icon.edit 
      Assignment Details
      %br

    %table.table.table-bordered.table-striped
      %tr
        %th Date
        %th Time
        %th Department
        %th Point of Contact
        %th Actions

      - @user_schedules.each do |user_schedule|
        %tr
          %td=user_schedule.department_block.day.long_date
          %td
            =in_twelve_hour_time(user_schedule.department_block.start_time)
            \-
            =in_twelve_hour_time(user_schedule.department_block.end_time)
          %td=user_schedule.department_block.department.name
          %td=!user_schedule.department_block.department.email.nil? ? user_schedule.department_block.department.email : "staff@garlicserver.com"
          %td=link_to("View",[:dashboard, user_schedule], class: "btn btn-primary")
