' Hi Department Manager,
br
' A check-in has been flagged for the department you manage. You need to log into the volunteer tracker and edit this flag.
br
br
= link_to "Click to edit the flag", dashboard_flag_url(@flag)