// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#time-availability {
	margin-left:0;

	td:hover{
		cursor:pointer;
	}
}
.time-availability-wrapper{
	.pagination{
		margin-top:2px;
	}
}