%div Showing #{(@show_action_data.scope.page - 1) * @show_action_data.scope.per_page + 1} to #{@show_action_data.scope.page * @show_action_data.scope.per_page} of #{pluralize( @show_action_data.user_availabilities_count, 'entry')}
