.row
  .span9
    %h2
      %i.halflings-icon.edit 
      Users List

.row
  .span9
    %table.table.table-bordered.table-striped
      %tr
        %th Full Name
        %th Email
        %th T Shirt Size
        %th Role

      - @users.each do |user|
        %tr
          %td= link_to user.full_name, admin_user_path(user)
          %td= user.email
          %td= user.tshirt_size
          %td= user.role