.row
  .span9
    .alert-container
      - flash.each do |type, message|
        %div{:class => flash_class(type) }
          %button{ :class => 'close', :data_dismiss => 'alert' }
            x
          = message
    %h2 Create a user

    = render 'form'